:root {
    --clr-pink-1: hsl(276, 100%, 81%);
    --clr-pink-2: hsl(289, 100%, 72%);
    --clr-purple-1: hsl(276, 55%, 52%);
    --clr-purple-2: hsl(271, 36%, 24%);
    --clr-gray-1: hsl(270, 20%, 96%);
    --clr-gray-2: hsl(206, 6%, 79%);
    --clr-gray-3: hsl(270, 7%, 64%);
    --clr-gray-4: hsl(271, 15%, 43%);

    --gradient-1: hsl(293, 100%, 63%);
    --gradient-2: hsl(264, 100%, 61%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
@media only screen and (min-width: 1500px) {
    html {
        font-size: 112.5%;
    }
}
@media only screen and (max-width: 940px) {
    html {
        font-size: 87.5%;
    }
}
